[submodule "csharp/015_christmas_queue"]
	path = csharp/015_christmas_queue
	url = https://github.com/Teaching-HTL-Leonding/christmas-queue-antonio-subasic.git
[submodule "csharp/019_train_switching"]
	path = csharp/019_train_switching
	url = https://github.com/Teaching-HTL-Leonding/train-switching-antonio-subasic.git
